{% extends "base.html" %}

{% block analytics %}
  {{ super() }}
  {% if config.extra.cloudflare_analytics_token %}
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "{{ config.extra.cloudflare_analytics_token }}"}'></script>
  {% endif %}
{% endblock %}

{% block extrahead %}
  {% if config.extra.google_site_verification %}
    <meta name="google-site-verification" content="{{ config.extra.google_site_verification }}">
  {% endif %}
  <script src="{{ 'assets/javascripts/aim-theme.js' | url }}"></script>
{% endblock %}
